<ion-header>

    <ion-navbar>
        <ion-toolbar>
            <button ion-button icon-only menuToggle>
             <ion-icon name="menu"></ion-icon>
            </button>

            <ion-title>
                {{channel.$value}}
            </ion-title>

            <ion-buttons end>
                <button ion-button icon-only (click)="unsubscribe()">
                    <ion-icon name="remove-circle"></ion-icon>
                </button>
            </ion-buttons>
        </ion-toolbar>
    </ion-navbar>

</ion-header>

<ion-content padding>

    <ul class="messageList">
        <li class="message" *ngFor="let item of items | async">
            <ion-grid>
                <ion-row>
                    <ion-col col-2>
                        <div class="nameCircle">{{item.detail?.user?.email?.substring(0, 1).toUpperCase()}}</div>
                    </ion-col>
                    <ion-col col-10>
                        <span *ngIf="item.detail?.user?.email">{{item.detail.user.email}}</span> <br/> {{item.message}}
                    </ion-col>
                    <ion-row *ngIf="item.detail?.spotifyUri">
                        <iframe [src]='encodeURI(item.detail.spotifyUri)' width="100%" height="380" frameborder="0" allowtransparency="true"></iframe>
                    </ion-row>
                </ion-row>
            </ion-grid>
        </li>
    </ul>

</ion-content>

<ion-footer>
    <ion-toolbar>
        <div class="chat">
            <ion-grid>
                <ion-row>
                    <ion-col col-9>
                        <ion-item>
                            <ion-input #newMessage (keyup.enter)="addMessage(newMessage.value);" [value]="messageValue" type=""></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-3>
                        <button ion-button id="addMessage" (click)="addMessage(newMessage.value) ">Send</button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </ion-toolbar>
</ion-footer>