page-chat {
    background: #36393e!important;
    color: hsla(0, 0%, 100%, .7);
    margin-top: 0;
    .scroll-content {
        margin-top: 0!important;
        margin-bottom: 5px!important;
        padding-bottom: 70px!important;
        padding-top: 60px!important;
        overflow-y: auto!important;
    }

    .messageList {
        .message {
            .heading {
              margin-bottom: 5px;
            }
            .username {
              color: white;
            }
            .timestamp {
              color: #616060;
              padding-top: 3px;
              margin-left: 10px;
              font-size: 10px;
            }
            .spotifyPlayer {
              margin-bottom: 5px;
            }
        }
        padding: 0;
    }
    .chatFooter {
      height: 50px;
    }
    .item-input {
        background-color: initial;
    }

    #addMessage {
        width: 100%;
    }

    ion-card {
      position: relative;
      text-align: center;
    }

    .album-art {
      display: block;
      height: 200px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }

    .message {
        color: hsla(0, 0%, 100%, .7);
        list-style: none;
    }
    .nameCircle {
        border-radius: 30px;
        height: 35px;
      margin-top: 5px;
        width: 35px;
        background-color: #3d5175;
        color: white;
        padding-top: 10px;
        text-align: center;
        font-weight: bold;
        vertical-align: middle;
    }
    #messages {
        height: 100%;
        overflow-y: scroll;
    }
}
